.overall{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUlQ3-eEcvwmslzpvMnlcEkS-OyRhAd08GMQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 100%;
}