<!-- {%  extends "base.html"%}
{% block content %}

<div class='overall'>
<h3> <marquee>Welcome Pitching website.You have an idea, this is a perfect site for you. Sign up and continue</marquee></h3>
<div></div>
<div class="container" style="display:flex; background-color: aqua; margin-top:0px ">
    <div class="card" style="margin:30px">
<div class="card-body"><a class="btn btn-primary" href="/newpitch">New Pitch</a></div> 
<br>
</div>
<div class="card " style="margin:30px">
  
<div class="card-body"><a class="btn btn-primary" href="/pitches">View Pitches</a></div>
</div>
</div>
{% endblock %} -->